html {
    font-size: 62.5%;
}
body {
    font-family: Helevtica, Arial, Helvetica, sans-serif;
    color:green;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight:bold;
}